
# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
.tox/

# VS Code settings
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/

# Pyenv setting useful (same versions as the `tox.ini` file)
.python-version
join.py
